<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>tweetheat</title>

    <link href="static/bootstrap.css" rel="stylesheet">

    <link href="static/soon.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  </head>
  <!-- START BODY -->
  <body class="nomobile" background = "static/img/4.jpg">

    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <h1 data-animated="GoIn"><b><TABLE>t w e e t <br> h e a t <br> ♥</TABLE></b> </h1>
            </header>
          
            <div class="col-lg-4 col-lg-offset-4 mt centered">
              <h4>Show heatmap for keyword:</h4>

              <form class="form-inline" role="form" action="/compute" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" name="keyword" placeholder="Enter keyword">
                </div>
                <input type="submit" class="btn btn-info" value="Find"></input>
              </form> 


      </div>         
        </div>
    
    </section>
  
  </body>
  <!-- END BODY -->
</html>



