<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Tweet Heat</title>
  <style>
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
  h1 { position:absolute; }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ url_for('static', filename='heatmap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='gmaps-heatmap.js') }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>
  <div align="center"> <h3> Heatmap with your keyword: {{keyword}}</h3></div>

  <div id="map-canvas" align="center"></div>

  <script>
        // map center
        var myLatlng = new google.maps.LatLng(25.6586, -80.3568);
        // map options,
        var myOptions = {
          zoom: 3,
          center: myLatlng
        };
        // standard map
        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        // heatmap layer
        heatmap = new HeatmapOverlay(map, 
        {
            // radius should be small ONLY if scaleRadius is true (or small radius is intended)
            "radius": 2,
            "maxOpacity": 1, 
            // scales the radius based on map zoom
            "scaleRadius": true, 
            // if set to false the heatmap uses the global maximum for colorization
            // if activated: uses the data maximum within the current map boundaries 
            //   (there will always be a red spot with useLocalExtremas true)
            "useLocalExtrema": true,
            // which field name in your data represents the latitude - default "lat"
            latField: 'lat',
            // which field name in your data represents the longitude - default "lng"
            lngField: 'lng',
            // which field name in your data represents the data value - default "value"
            valueField: 'count'
          }
          );

  

        setTimeout('window.location.href=window.location.href;', 3000);
        //set interval
        //on change 
        var testData = {

          max: 500,
          data: []
          
        };
        heatmap.setData(testData);
          {% for entry in db %}

          heatmap.addData( 
            {lat:{{entry[1]}},lng:{{entry[2]}},count:1}
              );
          {% endfor %}
        
        </script>
      </body>
      </html>