<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Tweet Heat</title>
  <style>
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 80% }
  h1 { position:absolute; }
  #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
  </style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ url_for('static', filename='heatmap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='gmaps-heatmap.js') }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  

</head>
<body>

  <div id="map-canvas" align="center"></div>


  <script>
        // map center
        var myLatlng = new google.maps.LatLng(25.6586, -80.3568);
        // map options,
        var myOptions = {
          zoom: 3,
          center: myLatlng
        };
        // standard map
        map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
        // heatmap layer
        var liveTweets = new google.maps.MVCArray();

       heatmap = new google.maps.visualization.HeatmapLayer({
          data: liveTweets,
          radius: 25
        });

      var liveTweets_neg = new google.maps.MVCArray();

       heatmap_neg = new google.maps.visualization.HeatmapLayer({
          data: liveTweets_neg,
          radius: 25
        });
       var count = 0
       heatmap.setMap(map);
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
     
            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                count += 1
                console.log(count)
                var lat = msg.lat
                var lng = msg.lng
                var tweetLocation = new google.maps.LatLng(lat,lng);
                if (msg.sentiment == "positive"){
                    liveTweets.push(tweetLocation)
                }
               else{
                    liveTweets_neg.push(tweetLocation)
               }
                

            });
            
        });

          function toNegative() {
            heatmap_neg.setMap(map);
                        heatmap.setMap(null)

            }
          function toPositive(){
                        heatmap.setMap(map);
                        heatmap_neg.setMap(null)
          }
        </script>

     


    <div id="panel">
      <button onclick="toNegative()">Negative Sentiment</button>
      <button onclick="toPositive()">Positive Sentiment</button>
      
    </div>
    

  </body>
      </html>